@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

svg {
  width: 100%;
  height: 100%;
}

table {
  --borderRadius: 20px;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

th {
  background-color: #e65c4f;
  color: #ffffff;
  padding: 0.5rem;
}

tr {
  background-color: #e9eef2;
  color: #78a6c8;
}

td {
  text-align: center;
  padding: 1rem 0.5rem;
}
